/* GENERAL JOURNAL APPEARANCE CLASSES*/
.journaldiv
{
    border-style: solid;
}

.journalId
{
    
}

.journalContent
{

}

.journalGiphy
{

}

.journalReactions
{

}

.journalGiphyPreview
{
    display:flex;
}

.ViewAllCommentsBtn
{

}

/* JOURNAL COMMENT INPUT DIV CLASSES */
.JournalCommentInputDiv
{
    border-style: dotted;
}

.journalCommentForm
{

}

.journalCommentInputSubmitBtn
{

}

.JournalCommentGiphySearchBar
{

}

.journalCommentGiphySearchBtn
{

}

.journalCmtGiphyPreview
{
    display:flex;
}





/* COMMENT DISPLAY CLASSES */

.commentDiv
{
    border-style: dashed;
}

.JournalCommentInputDiv
{

}

.commentContent
{

}

.commentGiphyP
{

}

.commentReactions
{

}



/* VISIBILITY CLASSES */
.hidden
{
    visibility: "hidden";
}

.visible
{
    visibility: "visible";
}



