/* GENERAL JOURNAL APPEARANCE CLASSES*/
.journaldiv
{
    border-style: solid;
}

.journalId
{
    
}

.journalContent
{

}

.journalGiphy
{

}

.journalReactions
{

}

.journalGiphyPreview
{
    display:flex;
}

.ViewAllCommentsBtn
{

}

/* JOURNAL COMMENT INPUT DIV CLASSES */
.JournalCommentInputDiv
{

}

.journalCommentForm
{

}

.journalCommentInputSubmitBtn
{

}

.JournalCommentGiphySearchBar
{

}

.journalCommentGiphySearchBtn
{

}

.journalCmtGiphyPreview
{
    display:flex;
}





/* COMMENT DISPLAY CLASSES */

.commentdiv
{
    border-style: dotted;
}

.JournalCommentInputDiv
{

}

.commentContent
{

}

.commentGiphyP
{

}

.commentReactions
{
    
}




